@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,heade,nav,aside,section,article,footer
{ margin:0;  padding:0;}
table {border-collapse:collapse; border-spacing:0;}
input,select { vertical-align:top; padding:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; }
ol,ul {list-style: none; }
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight:normal;}
q:before,q:after {content:"";}
a{outline:1;   text-decoration:none; color:#666;}
em { font-style:normal; }
body { font: 12px /1.4 arial, sans-serif; color:#666; overflow-x:hidden;}
.h { position:absolute; top:-99999px;}


#header {width:100vw; height:100vh; background-color:black; position:fixed; font:bold 16px "arial";transition: all 0.4s ease;background-image: url(../img/bg.png);background-position: center top;background-attachment: fixed;background-repeat: no-repeat;overflow: hidden;}
#header.sticky {width:100%;height:10vh;font-size:12px;}
#header h1 img{position:absolute;top:10%;left:50%;transform:translateX(-50%); width:200px;z-index: 100;}
#header.sticky h1 img{width:150px;}
.left{position: absolute; left: 0px; top: 0px;opacity: 0.5;}
.right{position: absolute; right: 0px; top: 0px;opacity: 0.5;}


#gnb{position:absolute; bottom:10%; left:50%;transform:translateX(-50%);}
#gnb>li { float:left; margin-right:20px;}
#gnb>li>a {display:inline-block;color:#fff; cursor:pointer;}
#gnb>li>a.on { color:#d01964; }


.imggrp {}
.imggrp img:nth-child(1) {position:absolute; top:40%; left:50%;transform:translateX(-54%) translateY(-50%);}

.imggrp img:nth-child(2) {position:absolute; top:40%; left:44%;transform:translateX(-160%) translateY(60%);}
.imggrp img:nth-child(3) {position:absolute; top:40%; left:48%;transform:translateX(-110%) translateY(50%);}
.imggrp img:nth-child(4) {position:absolute; top:40%; left:48%;transform:translateX(15%) translateY(60%);z-index:50;}
.imggrp img:nth-child(5) {position:absolute; top:40%;right:48%;transform:translateX(170%) translateY(-10%);}




.imggrp img:nth-child(6) {position:absolute; top:35%; left:50%;transform:translateX(-50%) translateY(-50%);z-index:50;}




.box {width:100vw; height:100vh;overflow:hidden;}
/*box포지션 relative하니까 header 안나옴..*/
#box1 {background-image: url(../img/bg.png);background-position: center top;background-attachment: fixed;background-repeat: no-repeat;}
#box2 {background-color: #222;}
#box3 {background-color: #444;}
#box4 {background-color: #666;}
#box5 {background-color: #888;}
#box6 {background-color: #000;}



.navi { position:fixed; right:3%; top:40%;}
.navi li { margin-bottom:12px;}
.navi a { display:block; width:10px; height:10px; background-color:#bbb;border-radius:5px; }
.navi a:hover { background-color:#fff;}
.navi a.on { height:20px; background-color:#d01964;}
