@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,heade,nav,aside,section,article,footer,figure
{ margin:0;  padding:0;}
table {border-collapse:collapse; border-spacing:0;}
input,select { vertical-align:top; padding:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; }
ol,ul {list-style: none; }
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight:normal;}
q:before,q:after {content:"";}
a{outline:1;   text-decoration:none; color:#666;}
em { font-style:normal; }
body { font: 12px /1.4 arial, sans-serif; color:#666; overflow-x:hidden;    -webkit-font-smoothing: antialiased;text-shadow: 0 -1px 0 rgba(0,0,0,0.2);}
.h { position:absolute; top:-99999px;}

/*헤더*/
#header {width:100vw; height:100vh; background-color:black; position:fixed; font:bold 1.2rem "arial";transition: all 0.4s ease;background-image: url(../img/bg.png);background-position: center top;background-attachment: fixed;background-repeat: no-repeat;overflow: hidden;z-index:10;font-family: 'Roboto', sans-serif;font-weight: 900;}
#header.sticky {width:100%;height:15vh;font-size:0.8rem;}
#header.sticky .imggrp{display: none;}
#header h1 img{position:absolute;top:10%;left:50%;transform:translateX(-50%); width:180px;z-index: 150;}
#header.sticky h1 img{width:120px;padding-top:8px;}
#header.sticky .cover{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);position: absolute;z-index: 149;}
.left{position: absolute; left: 0px; top: 0px;opacity: 0.5;}
.right{position: absolute; right: 0px; top: 0px;opacity: 0.5;}

#gnb{width:90%;position:absolute; bottom:20%; left:50%;transform:translateX(-50%);z-index: 300;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
#gnb>li {margin-right:0.8rem;text-align: center;}
#gnb>li:last-child {margin-right:0;}
#gnb>li>a {display:inline-block;color:#fff; cursor:pointer;}
#gnb>li>a.on { color:#d01964; }



/*헤더 애니메이션*/
.imggrp img:nth-child(1) {position:absolute; top:40%; left:50%;transform:translateX(-54%) translateY(-50%);}
.imggrp img:nth-child(2) {position:absolute; top:40%; left:44%;transform:translateX(-160%) translateY(60%);}
.imggrp img:nth-child(3) {position:absolute; top:40%; left:48%;transform:translateX(-110%) translateY(50%);}
.imggrp img:nth-child(4) {position:absolute; top:40%; left:48%;transform:translateX(15%) translateY(60%);z-index:50;}
.imggrp img:nth-child(5) {position:absolute; top:40%;right:48%;transform:translateX(170%) translateY(-10%);}
.imggrp img:nth-child(6) {position:absolute; top:35%; left:50%;transform:translateX(-50%) translateY(-50%);z-index:50;}

@keyframes updown1 {
0% {top:35%}
25% {top:37%}
50% {top:35%}
75% {top:37%}
100% {top:35%}
}

@keyframes updown2 {
0% {top:35%}
25% {top:34%}
50% {top:35%}
75% {top:34%}
100% {top:35%}
}

.imggrp img:nth-child(6){animation: 2s updown1 infinite}
.imggrp img:nth-child(2){animation: 3s updown2 infinite}
.imggrp img:nth-child(3){animation: 2s updown2 infinite}
.imggrp img:nth-child(4){animation: 3s updown2 infinite}
.imggrp img:nth-child(5){animation: 2s updown2 infinite}




.box {width:100vw; height:100vh;overflow:hidden;background-position: 0 10vh;background-attachment: fixed; background-repeat: no-repeat;background-size: cover;}
/*box포지션 relative하니까 header 안나옴..*/
#box1 {background-image: url(../img/bg.png);}
#box2 {background-image: url(../img/bg11.png);background-color:#d01964;}
#box3 {background-image: url(../img/bg2.png);}
#box4 {background-color: #000;}
#box5 {background-image: url(../img/bg3.png);}
#box6 {background-image: url(../img/bg4.png);position: relative;}




.anchor1 {position: relative;top:30%;}
.anchor1 article{color:#000;}
.anchor2 {position: relative;top:30%;}
.anchor2 article{color:#000;}
.anchor3 {position: relative;top:30%;z-index: 1000;}
.anchor4 {position: relative;top:30%;}

/*카루셀*/
.carousel {
    width:800px;
    height: 300px;
    display: relative;
    top: 65%;left:50%;transform: translateX(-50%) translateY(-50%);
    
}

.carousel img{
   
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
}

.carousel span{ display: inline-block; width: 110px; height: 14px; font-size:0.7rem; color:#fff; background-color: #d01964;text-align: center;position: absolute; bottom: -2%;left:50%;transform: translateX(-50%);z-index: 100;padding: 10px;border: none;font-weight: bold;text-align:center;border-radius:2px;padding-top: 8px;}


.carousel span:hover {background-color: #861040;}




/*에끌레어비디오*/
video {
position: relative;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
}
.vid {
width: 100%;
height: 100%;
opacity: 0.9;
z-index: -100;
}



/*리본효과*/
.rb img{height:100vh;z-index: 200;transition: all 0.3s;}
.rb img:nth-child(1){position: fixed;top: 0;left: -20%;}
.rb img:nth-child(2){position: fixed;top: 0;right:-20%;}

.rb.on img:nth-child(1){left:0%}
.rb.on img:nth-child(2){right:0%}



/*본문내용*/
article {width:400px; position: absolute;top: 30%;left:50%;transform: translateX(-50%) translateY(-50%);padding:1rem;box-sizing: border-box;color:#fff;}
article h2{font-size: 2rem; text-align: center;font-family:'Abril Fatface', cursive;}
article p{padding-top:1rem;font-family: 'Roboto', sans-serif;line-height: 1.5;text-align: justify;}


/*기프트세트*/
.figureset{width: 800px; position:relative;top: 100px;left:50%;transform: translateX(-50%);   
}

figure.snip1162 {
  font-family: 'Roboto', Arial, sans-serif;      
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
figure.snip1162 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1162 img {
  max-width: 100%;
  position: relative;
  opacity: 1;
}
figure.snip1162 figcaption {
  position: absolute;
  top: 50%;
  left: 7%;
  right: 7%;
  bottom: 50%;
  border: 1px solid white;
  border-width: 0 1px 1px;
  background-color: rgba(0,0,0,0.8);
}
figure.snip1162 .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure.snip1162 h2 {
  font-size:  20px;
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  font-weight: 900;
  text-shadow:  0 -2px 4px rgba(0,0,0,1);
}

figure.snip1162 h2:before,
figure.snip1162 h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1162 h2:before {
  left: -1000%;
}
figure.snip1162 h2:after {
  right: -1000%;
}
figure.snip1162 p {
  top: 50%;
  font-size: 0.9em;
  font-weight: 500;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
}
figure.snip1162 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1162:hover img,
figure.snip1162.hover img {
  opacity: 0.2;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
figure.snip1162:hover figcaption,
figure.snip1162.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1162:hover p,
figure.snip1162.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}



/*스페셜오더*/
.specialOrder{width:400px;height:320px;position: absolute;top: 65%;left:50%;transform: translateX(-50%) translateY(-50%);padding:1rem;box-sizing: border-box;background-color: rgba(255,255,255,0.9);border-radius: 3px;
}
table{width: 100%;height;100%;}
th{padding-top: 0.8rem;padding-bottom: 0.2rem;font-size:0.6rem;font-weight: normal;color:#000;text-shadow:none;}
td{width:40%;}
textarea{width:100%;border: none;}
input[type=submit] {
width: 100%;
background-color: #d01964;
margin-top: 1.2rem;
padding: 10px;
border: none;
color:#fff;
font-weight: bold;
text-align:center;
border-radius:2px;
}
input[type=submit]:hover {background-color: #861040;}
input[type=text],input[type=tel],input[type=date]{
width: 80%;
height: 1rem;
border: none;
}






.navi { position:fixed; right:3%; top:40%;}
.navi li { margin-bottom:12px;}
.navi a { display:block; width:10px; height:10px; background-color:#bbb;border-radius:5px; }
.navi a:hover { background-color:#fff;}
.navi a.on { height:20px; background-color:#d01964;}


@media screen and (max-width: 900px)
{
    .rb {display: none;}
    
}

@media screen and (max-width: 600px)
{
    #gnb {display: none;}
    
}